/* estilocliente.css */

/* Reset de estilos */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tabela_cliente {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  box-shadow: 30px 30px 30px #050505;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.lista_veiculos {
  list-style: none;
  padding: 0;
}

.lista_veiculos li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.lista_veiculos li:last-child {
  border-bottom: none;
}

.item_veiculo {
  flex: 1;
  margin-right: 10px;
  
}

.item_veiculo strong {
  font-weight: bold;
}

.item_veiculo img {
  max-width: 100%;
  height: auto;
}

.alugar_button {
  padding: 5px 10px;
  background-color: #008080;
  color: #fff;
  border: none;
  cursor: pointer;
}

.alugar_button:hover {
  background-color: #006565;

}

.btn_alugar {
   
    color: #FFF;
    width: 100px;
    padding: 1.0rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border: 1px solid #CCC;
    border-radius: 8px;
    background: #000000;
    border: 0;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 8px;
    cursor: pointer;
  
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .lista_veiculos {
    grid-template-columns: 1fr;
  }
}

/* Estilos gerais para todas as telas */

/* Estilos para telas com largura menor ou igual a 600 pixels */
@media (max-width: 600px) {
  /* Estilos específicos para dispositivos móveis */
}

/* Estilos para telas com largura maior que 600 pixels */
@media (min-width: 601px) {
  /* Estilos para telas maiores, como tablets e desktops */
}

/* Estilos para telas com altura menor ou igual a 800 pixels */
@media (max-height: 800px) {
  /* Estilos específicos para dispositivos móveis com altura limitada */
}

/* Estilos para telas em modo paisagem (largura maior que a altura) */
@media (orientation: landscape) {
  /* Estilos específicos para dispositivos móveis em modo paisagem */
}

/*cliente alugar */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #691919;
}

.agrupamento_alugar {
  border: 1px solid #000;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
  border-color: #e91e63;
  border-radius: 10%;
}

.lista_alugar {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.lista_alugar li {
  margin-bottom: 10px;
  
}

.lista_alugar img {
  max-width: 100%;
  height: auto;
}

.form_alugar div {
  margin-bottom: 10px;
  

}

.form_alugar label {
  display: block;
  font-weight: bold;
}

.form_alugar {

	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	
	border-radius: 20p
}
#btn_confirmar {
  color: #FFF;
	width: 325px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #CCC;
	border-radius: 8px;
	background: #000000;
	border: 0;
	border: 1px solid rgb(5, 5, 5);
	border-radius: 8px;
	cursor: pointer;
}

#btn_confirmar:hover {
  background-color: #45a049;
}
